@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Norican&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        background: url('/bg-img.png');
        background-position: center;
        background-repeat: repeat-y;
    }

    nav {
        @apply top-0 w-full flex justify-between py-[50px]
    }
  
    nav h1 {
      @apply font-extrabold text-xl;
    }

    nav ul {
        @apply flex gap-14 text-base font-medium
    }

    nav ul li {
        @apply hover:primary-text-color hover:underline cursor-pointer duration-150 transition-all
    }
  
    main {
      @apply min-h-screen relative;
    }
  }

  @layer components {
    .primary-bg-color {
        @apply bg-[#FD5200]
    }

    .primary-text-color {
        @apply text-[#FD5200]
    }

    .primary-border-color {
        @apply border-[#FD5200]
    }

    .icons {
        @apply flex gap-4
    }

    .icons img {
        @apply size-5
    }

    .hero-wrapper {
        background: url("/concrete-wall-textured-backgrounds.png");
        @apply relative w-screen h-fit px-[100px] pb-12
    }

    .hero-content {
        @apply relative pt-24 w-full grid grid-cols-5 justify-center items-center
    }

    .hero-heading {
        font-family: "Nunito", serif;
        @apply text-[56px] font-bold leading-[68px]
    }

    .hero-text {
        font-family: "Outfit", serif;
        @apply text-lg leading-[22.68px] max-w-[646.7px]
    }

    .hero-content > img {
        @apply absolute top-20 right-0
    }

    .button-opaque {
        @apply w-fit primary-bg-color text-white px-[30px] py-[10px] text-[16px] font-semibold rounded-full hover:shadow-md
    }

    .button-transparent {
        @apply w-fit bg-transparent border-[1px] primary-border-color primary-text-color px-[30px] py-[10px] text-[16px] font-medium rounded-full hover:shadow-md
    }

    .details {
        font-family: "Outfit", serif;
        @apply  flex gap-2 items-center
    }

    .details-heading {
        @apply text-xl font-medium
    }

    .details-title {
        @apply text-sm
    }

    .arrows {
        @apply w-fit h-fit p-2 rounded-full bg-white cursor-pointer hover:shadow-md
    }

    .about-wrapper {
        @apply w-full px-[100px] grid grid-cols-2 justify-center items-center gap-24 mt-28 mb-28
    }

    .about-desc {
        @apply  flex flex-col
    }

    .about-img {
        @apply  grid grid-cols-2 gap-5 justify-center items-center
    }

    .about-img-content-container {
        @apply h-60 rounded-3xl overflow-clip flex flex-col items-center justify-center
    }
    
    .about-text {
        font-family: "Outfit", serif;
        @apply text-xl leading-[25.2px] mt-4 mb-6
    }

    .featured {
        @apply relative flex flex-col justify-center items-center rounded-[29.6px] bg-white/50 backdrop-blur-md shadow-lg px-8 py-7 z-30
    }

    .featured-img {
        @apply relative -top-14 flex justify-center items-center w-fit h-fit rounded-full overflow-clip
    }

    .featured-rating {
        @apply  w-full flex gap-2 items-end text-[#FFD700] mb-3
    }

    .featured-rating p {
        font-family: "Inter", serif; 
        @apply text-sm
    }

    .featured-content {
        @apply flex flex-col gap-4
    }

    .featured-desc {
        font-family: "Nunito", serif;
        @apply flex flex-col gap-2
    }

    .featured-desc > h3 {
        @apply font-bold text-2xl 
    }

    .featured-desc > p {
        @apply text-xl leading-7
    }

    .featured-footer {
        @apply w-full flex justify-between items-center font-bold text-[28px]
    }

    .featured-footer  span {
       @apply p-[9.4px] primary-bg-color rounded-full flex items-center justify-center
    }

    .menu {
        font-family: "Nunito", serif;
        @apply  w-fit flex flex-col pt-4 p-6 bg-white/90 backdrop-blur-[100px] shadow-md gap-4 rounded-3xl justify-center items-center z-30
    }

    .menu > h3 {
        @apply font-bold text-[32px] py-4 px-6
    }

    .menu-item {
        @apply w-[430px] px-5 py-4 border-[1px] border-[#E3EBF6] rounded-[20px]
    }

    .banner h2{
        font-family: "Norican", serif;
        @apply text-[44px] text-white
    }

    .section-wrapper {
        @apply w-full px-[100px] flex flex-col items-center mb-16
    }

    .section-header {
        @apply w-full text-center
    }

    .section-header > p {
        font-family: "Outfit", serif;
        @apply text-xl leading-[18px]
    }

    .section-heading {
        font-family: "Nunito", serif;
        @apply font-bold text-[44px] 
    }

  }
  
  